{{ 'component-my-first-section.css' | asset_url | stylesheet_tag }}

<div class="my-first-section page-width section-{{ section.id }}-padding">
    <h3>{{ section.settings.my_text_input }}</h3>
</div>

{% schema %}
    {
        "name": "test section",
        "settings": [
            {
                "type": "text",
                "id": "my_text_input",
                "label": "My Text Input",
                "default": "enter your text here"
            }
        ],
        "presets": [
            {
                "name": "my test section"
            }
        ]
    }
{% endschema %}
