.promotion-section {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.promotion-section h3 {
    color: inherit;
    font-size: 3.5rem;
}
